*{
	font-family: 'Open Sans', sans-serif;
}
body,html{
	padding:0;
	margin:0;
	background-color:none;
	height:100%;
	width:100%;
	
}
.nav-container{
	padding: 0% 7.5%;
	/*background-color:#ffffff;*/
	opacity: 1;
	width: 100%;
	position: fixed;
	z-index: +11;
	top: 2%;

}

.nav-bar ul{
	float:left;
	margin:0;
	overflow:hidden;
	padding-left: 0px;
	width: 100%;
	background-color: white;
	border-radius: 0px 10px 10px 0px; 
	border-left: 2px solid #b6b6b6;
	box-shadow: -5px 5px 20px rgba(0,0,0,.2);
}
.nav-bar li{
	list-style-type: none;
	text-align:center;
	float: right;
	font-size:16px;
	margin:0;
}
.nav-bar li a{
	width:100%;
	display:block;
	color:black;
	border-left:1px solid #b6b6b6;
	padding: 8px 16px;
	font-family: 'Raleway', sans-serif
}
.nav-bar li a:link{
	text-decoration: none;
}
.nav-bar li a:hover{
		color:#0088C2;
		text-decoration: none;
}
.nav-bar li a:visited{
	text-decoration:none;

}
.nav-bar #menu-icon{
	display:none;
}

.logo{
	font-size:24px;
	float:left !important;
	font-family:'raleway';
	color:black;
	border-right-width: 2px;
}
.nav-container p a{
	text-decoration:none;
	color:black;

}

.address{
	width:100%;
	color:black;
	background-color:#F5F5F5;
	height:auto;
	text-align:center;
	padding:6% 20%;
	font-size:19px;
}

}
.location{
	width:100%;
	height:50%;
	float:left;
	margin:0;
	margin:10% 0 3% 0;
}
.location iframe{
	width:100%;
}




footer{
	padding:5% 9%;
	margin: 0% ;
	font-size: 16px;

}

#footer_below{
	margin: 0% 2%;
}

.footer_nav a{
	color: white;
    display: block;
    margin-right: 0%;
    font-size: 20px;
}
.footer_website{
	font-size: 24px;
}
.col-sm-6{
	box-shadow: -5px 5px 20px rgba(0,0,0,.2);
}